:root {
    --background: #333 ;
    --font: #f5f2f2 ;
    --buttons:#434d42 ;
    --hover : #427a3d ;
    
}
* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background-image: url(/WevDev/WebDev/media/opening-laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html {
    scroll-behavior: smooth;
}
p {
    color: var(--font)
}
/* Transition */
a, .btn{
    transition: all 300ms ease;
}
/* Navbar */

nav {
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    height: 10vh;
    text-decoration: none;
}
nav a {
    padding: 0 30px;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 100;
}
nav a:hover {
    color: var(--hover);
}
nav li:first-child {
    margin-right: auto;
    padding-left: 70px;
    color: #333;
    
}
/* Hamburget menu */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 20vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 999;
    /* box-shadow: -10px 10px rgba(0, 0, 0, 0.1); */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
    
}
.sidebar a {
    width: 100%;
}

@media (min-width: 1200px){
    .hideBurger {
        display: none;
    }
    
}
